<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{title}}</title>
<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
<link rel="manifest" href="/public/images/site.webmanifest">
<meta property="og:url" content="http://draw.llamy.be" />
<meta property="og:site_name" content="Skribb.lio" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="fr_fr" />
<meta property="og:title" content="Skribb.lio - Pictionary en ligne" />
<meta property="og:description" content="Le principe du jeu est de faire deviner aux autres joueurs un mot choisi au hasard en le dessinant dans un temps imparti." />
<meta property="og:image:type" content="image/png">
<meta property="og:image:height" content="750">
<meta property="og:image:width" content="750">
<meta property="og:image" content="http://draw.llamy.be/public/images/750x750-centered.png" />
<meta property="og:image:alt" content="Dessin de garçon">
<link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/public/css/main.css">
{{#each styles as |style|}}
<link type="text/css" rel="stylesheet" href="/public/css/{{style}}">
{{/each}}
{{#if id }}
<script>const game_id = "{{id}}";</script>
{{/if}}
<style>
    
</style>