<!-- 
    Hello, n'hésite pas à me contacter si tu veux voir le code source
    Et si tu te sens l'âme d'un /HaCkEuR/$, fonce et casse mon jeu ! 
    (mais préviens moi après que je fixe tout ça ahah)

    Lioche
-->
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">

<head>
    {{> head }}
</head>
<body class="blue-grey-text text-darken-3">
    {{{ body }}}
    
    {{> footer }}
</body>