<center>
    <h1>{{ errorType }}</h1>
    <h2>{{ errorMessage }}</h2>

    <p class="flow-text">(Je m'occuperai de faire une belle page d'erreur avec une redirection et une barre qui défile plus tard)</p>
    <a href="/"><h5>Retourner à l'accueil</h5></a>
</center>