
<h3>GAME</h3>
<p class="flow-text">{{id}}</p>

<div class="section">

    <div class="row">

        {{!-- Left pane --}}
        <div class="col s12 m6 l4 offset-l1">
            <ul class="chatbox">
                <h3 class="text-center">Chat</h3>
                <div class="divider spacing"></div>
            </ul>
            <input id="input_message" type="text" placeholder="Votre message ici..">
            <label for="input_message">Vous pouvez utiliser les balises &lt;i&gt; &lt;b&gt; &lt;u&gt;</label>
        </div>
        {{!-- Right pane --}}
        <div class="col s12 m6 l4 offset-l2 text-center">
            <h3 class="">Paramètres</h3>
            <ul>
                {{#if channel}}
                    {{#each channel}}
                        <li class="divider"></li>
                        <b>Settings:</b>
                        {{#each this.settings as |value key|}}
                            <li>{{key}} : {{value}}</li>
                        {{/each}}
                        <li class="divider"></li>                      
                    {{/each}}
                {{/if}}
            </ul>
        </div>

    </div>

</div>