
<header invisible>
    <h4 class="round">

    </h4>
    <h5>
        <ul class="hint">
            <!-- <li class="letter">_</li> -->
        </ul>
    </h5>
    <h4 class="timer">
        00
    </h4>

</header>

<div id="pick" class="modal">
    <div class="modal-content">
        <h4 class="header text-center">Sélectionnez un mot à dessiner</h4>
        <small class="text-center">(Vous avez 8 secondes pour choisir)</small>
        <ul class="words">
            <!-- <li class="word collection-item"></li> -->

        </ul>
    </div>
</div>

<div id="reveal" class="modal">
    <div class="modal-content">
        <h4 class="header text-center">Il fallait deviner le mot</h4>
        <h3 class="reveal word"></h3>
    </div> 
</div>

<div id="rank" class="modal">
    <div class="modal-content">
        <h4 class="header text-center">Classement de la partie</h4>
        <ul class="rankbox">

        </ul>
    </div> 
</div>

<div class="grid-game">

    <div class="userzone card-panel" invisible>
        <h3 class="text-center">Joueurs</h3>
        <ul class="userbox card">
            {{!-- {{#with channel.users as |users|}}
                {{#each users}}
                    <li class="user card" username={{this.username}}>{{this.username}} <i class="skicon-user-circle"></i></li>
                {{/each}}
            {{/with}} --}}
        </ul>
    </div>

    <div class="settings card-panel">
        <h3 class="text-center">Paramètres</h3>

        <h6>Nombre de rounds</h6>
        <div class="section setting">
            <button onclick="let bu = this.nextElementSibling; bu.stepDown(); changeSetting(bu);" disabled></button>
            <input type="number" name="rounds" id="input_setting_rounds" min="1" max="6" step="1" value="3" readonly disabled>
            <button onclick="let bu = this.previousElementSibling; bu.stepUp();  changeSetting(bu);" disabled></button>
        </div>
            
        <h6>Durée d'un round</h6>
        <div class="section setting">
            <button onclick="let bu = this.nextElementSibling; bu.stepDown();  changeSetting(bu);" disabled></button>
            <input type="number" name="duration" id="input_setting_round_duration" min="30" max="180" value="90" step="10" readonly disabled>
            <button onclick="let bu = this.previousElementSibling; bu.stepUp();  changeSetting(bu);" disabled></button>
        </div>

        <h6>Bloquer le chat</h6>
        <small>(Au dessinateur et à ceux qui ont trouvé le mot)</small>
        <div class="section setting">
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" name="cannot_talk" id="input_setting_talk" disabled>
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>

        <div class="section">
            <button class="waves-effect waves-light btn-large grey darken-3" id="button_start_game" disabled>Démarrer</button>
        </div>
    </div>

    <div class="chatzone card-panel">
        <h3 class="chat-title text-center"><i class="skicon-chat"></i> Chat</h3>
        <ul class="chatbox card"></ul>
        <div class="chat-input card">
            <input id="input_message" type="text" placeholder="Votre message ici..">
            <label for="input_message">Appuyez sur enter pour envoyer</label>
        </div>
    </div>

    <div class="drawzone card" invisible disabled>
        <canvas class="drawbox"></canvas>
    </div>

    <div class="palette card-panel" invisible>
        <div class="card">
            <input type="range" id="input_pen_size" min="1" max="6" step="1" value="2">
            <p>
                Taille du pinceau<br>
                <small>(Vous pouvez aussi scroller avec la souris)</small>
            </p>
        </div>
        <div class="colorzone card">
            <ul class="colors">
                <!-- Colors are added dynamically -->
                <li class="color" color="#FFFFFF" style="background: white"></li>
                <li class="color" color="#808080" style="background: grey"></li>
                <li class="color" color="#111000" style="background: #111000; outline: #37474f solid 2px"></li>
            </ul>
        </div>
        <div class="toolzone card">
            <ul class="tools">
                <li class="tool" tool="PEN" onclick="onToolUpdate(this)">
                    <i class="skicon-brush"></i>
                </li>
                <li class="tool" tool="BUCKET" onclick="onToolUpdate(this)" style="opacity: 0.6">
                    <i class="skicon-bucket"></i>
                </li>
                <li class="tool" onclick="resetDrawbox()" style="opacity: 0.6">
                    <i class="skicon-trash"></i>
                </li>
            </ul>
        </div>
    </div>

    <div class="section link">
        <div class="container center-align">
            <div class="section"></div>
            <h5 class="flow-text">Partagez cet identifiant à vos amis</h5>
            <textarea onclick="this.select(); this.setSelectionRange(0, 99999); document.execCommand('copy');" class="center-align" readonly>{{id}}</textarea>
            <br><small>(Cliquez dessus pour copier)</small>
        </div>
    </div>

</div>

<i id="mute-button" class="skicon-volume-on" onclick="switchMute();"></i>
<i id="home-button" class="skicon-home" onclick="window.location='/'"></i>



