<div class="container bordered margined">

    <div class="section">
        <h1>Skribb.lio</h1>
        <h5>Made by Lioche</h5>
    </div>

        <div class="row">

            <div class="col s4 l2 offset-s4 offset-l5 input-field">
                <input class="center-align" id="input_username" type="text">
                <label for="input_username">Entrez votre pseudo</label>
            </div>

            <div class="col s12 center-align input-field">
                <a class="button_form waves-effect waves-light btn-large orange darken-1" id="button_create_game">Créer une partie</a>
            </div>

            <div class="col s12 center-align input-field">
                <a class="button_form waves-effect waves-light btn-large orange lighten-2" id="button_join_game">Rejoindre une partie</a>
            </div>
        </div>

    </div>

</div>