<div class="container bordered margined">

    <div class="section">

        <div class="section">
            <h1 id="title_name">Skribbl.io</h1>
            <h5 id="title_desc"></h5>
            <small>({{manulex}} mots)</small>
        </div>

        <div class="row">

            <div class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 input-field">
                <b>Entrez votre pseudo</b>
                <input class="center-align" id="input_username" type="text" required>
            </div>

            <div class="col s12 center-align input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-1" id="button_create_game">Créer une partie</a>
            </div>

            <div class="col s8 l6 offset-s2 offset-l3 input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-3" id="button_join_game">Rejoindre une partie</a>
                <div class="container margined" style="display: none;">
                    <b>Identifiant de la partie</b>
                    <input type="text" class="center-align" id="input_game_id" placeholder="36 caractères" minlength="36" maxlength="36">
                </div>
            </div>
        </div>

    </div>
    <hr>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header flow-text center-align"><i class="skicon-info-circled"></i> Informations</div>
            <div class="collapsible-body">

                <div>
                    <b>Skribb.lio est un jeu de dessin multijoueur fortement inspiré de Skribbl.io et dans le principe de Pictionary.</b>   <br>
                    L'objectif est de faire deviner aux autres joueurs un mot choisi au hasard en le dessinant dans un temps imparti.<br>
                    Des points sont ajoutés en fonction du temps restant. Le joueur avec le plus de points gagne la partie.<br>
                </div>

                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="skicon-gamepad"></i> Comment jouer ?
                        </div>
                
                        <div class="collapsible-body">
                            <p>
                                Tout d'abord, rejoignez une partie via son identifiant ou créez en une nouvelle.<br>
                                Chaque partie est composée de rounds d'une durée de 30 à 180 secondes.
                            </p>
                            <p>
                                Lorsque c'est à votre tour, vous serez invité à choisir un mot parmi 4 aléatoires.<br>
                                A l'aide de votre souris ou de votre doigt sur <i class="skicon-mobile"></i> dessinez le mot avant la fin du temps.
                                Une palette de couleurs, un sceau <small>(<i class="skicon-bucket"></i>)</small> et une poubelle <small>(<i class="skicon-trash"></i>)</small> sont à votre disposition.
                            </p>
                            <p>
                                En tant qu'observateur, vous devez deviner le mot en l'écrivant <b>dans le chat.</b> <br>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header">
                            <i class="skicon-award"></i> Comment gagner ?
                        </div>
                    
                        <div class="collapsible-body">
                            <p>
                                <b> Il faut jouer correctement <i class="skicon-emo-thumbs-up"></i></b> <br>
                                La vitesse est très importante.
                            </p>
                            <p>
                                Sachez que vous gagnez : <br>
                                <small><code>&lt;temps restant (ms)&gt; / (5 * &lt;durée du round (s)&gt;)</code></small>
                                <br><br>
                                Et en tant que dessinateur, à chaque fois qu'un joueur trouve : <br>
                                <small><code>&lt;points&gt; / (&lt;nombre de joueurs&gt; + 1.1)</code></small>
                                <br><br>
                                Et que si personne ne trouve, vous perdez: <br>
                                <small><code>10 * &lt;nombre de joueurs&gt;</code></small>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="skicon-star"></i> Astuces
                        </div>
                    
                        <div class="collapsible-body">
                            <p>
                                La taille du pinceau est changeable via la roulette de la souris.
                            </p>
                            <p>
                                <b>Si vous êtes déconnecté, vous avez 10 secondes pour revenir dans la partie.</b>
                            </p>
                            <p>
                                Si par malheur votre dessin venait à être bloqué sur celui du tour précédent ou ne s'actualise plus, vous pouvez taper <code>/clean</code> dans le chat.<br>
                            </p>
                            <p>
                                Cliquez sur <i class="skicon-volume-on"></i> si la guitare vous monte à la tête.
                            </p>
                            
                            <p>
                                Si vous trouvez un <i class="skicon-bug"></i> reportez-le moi 
                            </p>
                        </div>
                    </li>
                </ul>
                <p>
                    <b>Jouer à plusieurs c'est plus marrant, alors invitez des amis !</b>
                </p>
                <small>
                    Développé avec passion <i class="skicon-heart"></i><br>
                    <i class="skicon-terminal"></i>Lioche
                </small>
            </div>
        </li>
    </ul>    
</div>

<script>
let title_name = document.querySelector('#title_name'), title_desc = document.querySelector('#title_desc');
let to_write = {title: ".lio", desc: "La même chose made by Lioche"}, rpos = -4, ti = 150;

function type(){
    if(rpos >= to_write.desc.length+4) return;
    if(rpos < 0){
        title_name.textContent = title_name.innerText.slice(0, -1);
    }else if(rpos > 3){
        ti = 45;
        title_desc.textContent += to_write.desc.charAt(rpos-4);
    }else{
        title_name.textContent += to_write.title.charAt(rpos);
    }
    rpos++;
    setTimeout(type, ti);
}
setTimeout(type, 1500);
</script>