<div class="container bordered ">

    <div class="section">

        <div class="section">
            <h1 id="title_name">Skribbl.io ?</h1>
            <h5 id="title_desc"></h5>
            <small>({{manulex}} mots)</small>
        </div>

        <div class="row">

            <div class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 input-field">
                <b>Entrez votre pseudo</b>
                <input class="center-align" id="input_username" type="text" required>
            </div>

            <div class="col s12 center-align input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-1" id="button_create_game">Créer une partie</a>
            </div>

            <div class="col s8 l6 offset-s2 offset-l3 input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-3" id="button_join_game">Rejoindre une partie</a>
                <div class="container margined" style="display: none;">
                    <b>Identifiant de la partie</b>
                    <input type="text" class="center-align" id="input_game_id" placeholder="36 caractères" minlength="36" maxlength="36">
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="section">
        <h5>Infos pour les noobs</h5>

        <p>
            Le principe du jeu est de faire deviner aux autres joueurs un mot choisi au hasard en le dessinant dans un temps imparti.<br>
            Des points sont ajoutés à ceux qui trouvent (et au dessinateur) en fonction du temps restant.<br>
            Les réponses doivent être données dans le chat.
        </p>

        <p>
            Plusieurs couleurs sont disponibles dans la palette ainsi qu'un sceau et une poubelle.<br>
            La taille du pinceau est changeable via la roulette de la souris ou une barre.
        </p>

        <p>
            Si par malheur votre dessin venait à être bloqué sur celui du tour précédent, vous pouvez taper <code>/clean</code> dans le chat.<br>
            Ecrivez <code>/mute</code> si la guitare vous monte à la tête.
        </p>

        <p>
            <small>Développé avec passion ❤</small>
        </p>
    </div>
</div>

<script>
let title_name = document.querySelector('#title_name'), title_desc = document.querySelector('#title_desc');
let to_write = {title: ".lio", desc: "La même chose made by Lioche"}, rpos = -5, ti = 150;

function type(){
    if(rpos >= to_write.desc.length+4) return;
    if(rpos < 0){
        title_name.textContent = title_name.innerText.slice(0, -1);
    }else if(rpos > 3){
        ti = 45;
        title_desc.textContent += to_write.desc.charAt(rpos-4);
    }else{
        title_name.textContent += to_write.title.charAt(rpos);
    }
    rpos++;
    setTimeout(type, ti);
}
setTimeout(type, 1500);
</script>