<div class="container bordered ">

    <div class="section margined">

        <div class="section">
            <h1>Skribb.lio</h1>
            <h5>La même chose mais en moins bien</h5>
            <small>({{manulex}} mots)</small>
        </div>

        <div class="row">

            <div class="col s6 m4 l2 offset-s3 offset-m4 offset-l5 input-field">
                <b>Entrez votre pseudo</b>
                <input class="center-align" id="input_username" type="text" required>
            </div>

            <div class="col s12 center-align input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-1" id="button_create_game">Créer une partie</a>
            </div>

            <div class="col s8 l6 offset-s2 offset-l3 input-field">
                <a class="button_form waves-effect waves-light btn-large grey darken-3" id="button_join_game">Rejoindre une partie</a>
                <div class="container margined" style="display: none;">
                    <b>Identifiant de la partie</b>
                    <input type="text" class="center-align" id="input_game_id" placeholder="36 caractères" minlength="36" maxlength="36">
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="section">
        <h5>Comment jouer ?</h5>

        <p>
            Le principe du jeu est - en tant que dessinateur - de faire deviner aux autres joueurs un mot choisi au hasard en le dessinant dans un temps imparti.<br>
            Les réponses doivent être données dans le chat. Des points sont attribués à celui qui trouve et au dessinateur en fonction du temps restant.
        </p>

        <p>
            Plusieurs couleurs sont disponibles dans la palette ainsi qu'un sceau.<br>
            La taille du pinceau est changeable via une barre ou la roulette de la souris.
        </p>


        <p>
            Si par malheur votre dessin venait à être bloqué sur celui du tour précédent, vous pouvez taper <code>/clean</code>
            dans le chat.
        </p>
    </div>
</div>