<div class="section">

    <div class="row">

        {{!-- Left Top pane --}}
        <div class="col s12 m5 l4 offset-l1 chatzone">
            <h3 class="text-center">Chat</h3>
            <div class="divider spacing"></div>
            <ul class="chatbox">

            </ul>
        </div>
        {{!-- Right Top Pane --}}
        <div class="col s12 m6 l7 offset-m1 offset-l1 drawzone">
            <!-- Here comes the canva when game_start -->
            <canvas class="drawbox"></canvas>
        </div>
        {{!-- Left Bottom Pane --}}
        <div class="col s12 m5 l4">
            <input id="input_message" type="text" placeholder="Votre message ici..">
            <label for="input_message">Vous pouvez utiliser les balises &lt;i&gt; &lt;b&gt; &lt;u&gt;</label>
        </div>

        {{!-- Right Bottom Pane --}}
        <div class="col s12 m6 l7 offset-m1 offset-l1 pull-s12">
            <div class="section colorzone">
                <ul class="colors">
                    {{!-- Blue --}}
                    <li class="color" color="#154360"></li>
                    <li class="color" color="#1F618D"></li>
                    <li class="color" color="#5499C7"></li>
                    <li class="color" color="#5DADE2"></li>

                    {{!-- Green --}}
                    <li class="color" color="#73C6B6"></li>
                    <li class="color" color="#229954"></li>
                    <li class="color" color="#196F3D"></li>
                    <li class="color" color="#145A32"></li>
                </ul>
                <ul class="colors">
                    {{!-- Purple --}}
                    <li class="color" color="#512E5F"></li>
                    <li class="color" color="#884EA0"></li>
                    <li class="color" color="#BB8FCE"></li>
                    <li class="color" color="#D7BDE2"></li>

                    {{!-- Yellow --}}
                    <li class="color" color="#F7DC6F"></li>
                    <li class="color" color="#F1C40F"></li>
                    <li class="color" color="#B7950B"></li>
                    <li class="color" color="#9C640C"></li>
                </ul>
                <ul class="colors">
                    {{!-- Red --}}
                    <li class="color" color="#641E16"></li>
                    <li class="color" color="#922B21"></li>
                    <li class="color" color="#C0392B"></li>
                    <li class="color" color="#EC7063"></li>

                    {{!-- Orange --}}
                    <li class="color" color="#DC7633"></li>
                    <li class="color" color="#D35400"></li>
                    <li class="color" color="#A04000"></li>
                    <li class="color" color="#6E2C00"></li>
                </ul>
            </div>
            <div class="section">
                <ul class="colors right">
                    <li class="color" color="#FFFFFF"></li>
                    <li class="color" color="#909497"></li>
                    <li class="color" color="#424949"></li>
                    <li class="color" color="#000000"></li>
                </ul>
            </div>
        </div>

        {{!-- Right pane --}}
        <!--
        <div class="col s12 m6 l4 offset-l2 text-center settingszone">
            <h3 class="">Paramètres</h3>
            <ul>
                {{#if channel}}
                    {{#each channel}}
                        <li class="divider"></li>
                        <b>Settings:</b>
                        {{#each this.settings as |value key|}}
                            <li>{{key}} : {{value}}</li>
                        {{/each}}
                        <li class="divider"></li>                      
                    {{/each}}
                {{/if}}
            </ul>
        </div>
        -->

    </div>

</div>