/* ----- GRID ----- */

.grid-game{
    display: grid;
    grid-template-areas:    "settings chatzone";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    margin: 2%;
    justify-content: center;
}

.grid-game.started{
    display: grid;
    grid-template-areas:    "userzone drawzone chatzone" ". palette .";
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 600px 1fr;
    grid-gap: 1em;
    margin: 2%;
    justify-content: center;
}

/* Laptop */
@media screen and (max-width: 1200px){

    .grid-game.started{
        grid-template-areas:  "drawzone chatzone" "palette userzone";
        grid-template-columns: 600px 1fr;
        grid-template-rows: 600px 1fr;
        margin: 1em 0;
    }
}

/* Tablet */
@media screen and (max-width: 950px){
    .link{
        grid-column: 1/2 !important;
    }
    
    .grid-game{
        grid-template-areas: "settings" "chatzone" ;
        grid-template-columns: 80%;
        grid-template-rows: 1fr;
    }

    .grid-game.started{
        grid-template-areas: "palette" "drawzone" "chatzone" "userzone" ;
        grid-template-columns: 80%;
        grid-template-rows: auto;
    }
}

/* Mobile */
@media screen and (max-width: 550px){

    .grid-game.started{
        grid-template-areas: "palette" "drawzone" "chatzone" "userzone" ;
        grid-template-columns: 90%;
        grid-template-rows: min(600px, 100%, 1fr, auto);
    }
}

/* ----- Settings ----- */

.settings{
    grid-area: settings;
    max-height: 600px;
}

.setting{
    display: flex;
    max-width: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.setting *{
    box-sizing: border-box;
    text-align: center;
}

.setting input{
    font-size: 2rem !important;
    color: #37474f;
}

.setting button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.setting button:before,
.setting button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #37474f;
  transform: translate(-50%, -50%);
}

.setting button:last-child::after{
    transform: translate(-50%, -50%) rotate(90deg);
}

/* ----- Userzone ----- */

.userzone{
    grid-area: userzone;
    max-height: 600px;
}

.userbox{
    display: grid;
    grid-gap: 10px;
}

.user{
    padding: .5em;
    font-weight: bold;
    display: grid;
    margin: 0;
}

/* ----- Chatbox ----- */

.chatzone{
    grid-area: chatzone;
    min-height: 400px;
    max-height: 600px;
    display: grid;
    grid-template-areas: "title" "box" "input";
    grid-template-rows: auto 1fr auto;
}

.chatbox{    
    max-height: 400px;
    overflow-y: auto;
    padding: 1em 0;
    grid-area: box;
}

.chatbox .message{
    padding: .3em 2em;
    overflow-wrap: break-word;
    text-align: left;
}

.chat-title{
    grid-area: title;
}

.chat-input{
    grid-area: input;
    padding: 1em;
}

#input_message::placeholder{
    color: black;
}

/* ----- Drawbox ----- */

.drawzone{
    margin: unset !important;
    padding-top: 100% !important;
    position: relative;
    grid-area: drawzone;
    max-height: 600px;
    max-width: 100%;
}

.drawbox{
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black !important;
}

/* ----- Palette ----- */

.palette{
    padding: 1em !important;
    grid-area: palette;
    max-height: 600px;
}

.colors{
    margin: .1em;
}

.color{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 2px;
    border: 1px solid rgb(160, 160, 160);
}

.tool{
    display: inline-grid;
    height: 32px;
    width: 32px;
    margin: 2px;
    justify-content: center;
    align-content: center;
}

.palette i {
    font-size: 28px;
}

/* .palette .card{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0px 5em;
    margin: .5em auto;
} */

/* ----- Word ----- */

.words{
    display: grid;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.word{
    padding: .6em;
    margin: .6em auto;
    outline: 1px solid grey;
    font-size: 120%;
    text-transform: uppercase;
}

.hint{
    margin: 0;
}

.hint .letter{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: .5rem;
}

/* Footer link */

.link {
    grid-column: 1 / 3;
    display: flex;
}

.link textarea{
    overflow: hidden;
    height: 1.5rem;
    resize:none;
    max-width: 20rem;
}

header{
    display: grid;
    grid-template-areas: ". round" "timer hint";
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 80px;
    margin: auto 5%;
    align-items: center;
}

header .round{
    grid-area: round;
}

header h5{
    grid-area: hint;
    margin: 0;
}

header .timer{
    grid-area: timer;
    margin: 0;
    outline: 1px solid darkgray;
}