body::before{
    content: "";
    top:0;
    left:0;
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    background: url(https://i.pinimg.com/originals/97/4b/b7/974bb782ad079dfc327863bf5805f6b1.png) no-repeat;
    background-size: cover;
    /*background-blend-mode: difference;*/
}

/* ----- GRID ----- */

.grid-game{
    display: grid;
    grid-template-areas:    "userzone drawzone chatzone" ". palette .";
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 600px auto;
    grid-gap: 1em;
    margin: 2em;
    justify-content: center;
}

/* Laptop */
@media screen and (max-width: 1200px){

    .grid-game{
        grid-template-areas:    "drawzone chatzone" "palette userzone";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 1em 0;
    }
}

/* Tablet */
@media screen and (max-width: 950px){
    .grid-game{
        grid-template-areas: "palette" "drawzone" "chatzone" "userzone" ;
        grid-template-columns: 80%;
        grid-template-rows: auto;
    }
}

/* Mobile */
@media screen and (max-width: 550px){
    .grid-game{
        grid-template-areas: "palette" "drawzone" "chatzone" "userzone" ;
        grid-template-columns: 90%;
        grid-template-rows: auto;
    }
}

/* ----- Userzone ----- */

.userzone{
    grid-area: userzone;
}

/* ----- Chatbox ----- */

.chatzone{
    grid-area: chatzone;
    min-height: 400px;
    display: grid;
    grid-template-areas: "title" "box" "input";
    grid-template-rows: auto 1fr auto;
}

.chatbox{
    height: 100%;
    overflow-y: auto;
    padding: 1em 0;
    grid-area: box;
}

.chatbox .message{
    padding: .3em 2em;
    text-align: left !important;
    overflow-wrap: break-word;
}

.chat-title{
    grid-area: title;
}

.chat-input{
    grid-area: input;
    padding: 1em;
}

#input_message::placeholder{
    color: black;
}

/* ----- Drawbox ----- */

.drawzone{
    margin: unset !important;
    padding-top: 100% !important;
    position: relative;
    grid-area: drawzone;
    max-height: 100%;
    max-width: 100%;
}

.drawbox{
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* ----- Palette ----- */

.palette{
    padding: 1em !important;
    grid-area: palette;
}

.colors{
    margin: .1em;
}

.color{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 2px;
    border: 1px solid rgb(160, 160, 160);
}

.tool{
    display: inline-grid;
    height: 32px;
    width: 32px;
    margin: 2px;
    justify-content: center;
    align-content: center;
}

.palette i {
    font-size: 28px;
}

/* .palette .card{
    display: block;
    width: fit-content;
    margin: auto;
    padding: 0px 5em;
    margin: .5em auto;
} */

/* User */

.userbox{
    display: grid;
    grid-gap: 10px;
}

.user{
    padding: .5em;
    font-weight: bold;
    display: grid;
    margin: 0;
}