html{
    font-family: sans-serif;
    padding: 1em;
    margin: 0;
}

body{
    margin: auto;
    text-align: center;
}

.margined {
    margin: 5% auto;
}

.bordered{
    border: 1px solid black;
}

.spacing {
    display: block;
    margin: 1em auto;
}

/* ----- Chatbox ----- */

.chatbox{
    border: 1px solid black;
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

.chatbox .message{
    padding: .3em 2em;
    text-align: justify !important;
}



/* ----- Materialize.css ----- */

#toast-container{
    margin: auto;
    max-width: 500px;
    position: relative;
    top: unset !important;
    right: unset !important;
    text-align: center;
    bottom: 100px;
}

.toast{
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 1em;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: block !important;
    cursor: default;
}

.toast-title{
    font-weight: bold;
    font-size: 110%;
}

.toast-content{
    padding: auto 1em;
}

/* label color */
.input-field label {
    font-weight: bold;
    color: #000 !important;
}

/* label focus color */
input[type=text]:focus + label {
    color: #000 !important;
}

/* label underline focus color */
input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}